@model WMProducts.Models.Dobavljač

@{
    ViewBag.Title = "Informacije";
}

<h2>Informacije o dobavljaču</h2>

<div>
    <h4>Dobavljač</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pib)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Nazad na listu", "Index")
</p>
